@charset "UTF-8";
@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 1;
  visibility: visible;
  z-index: 6;
}

.loader__blocks {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.done {
  opacity: 0;
  visibility: hidden;
}

.loader__block {
  width: 33px;
  height: 33px;
  position: relative;
  display: block;
  transform-origin: -50% center;
  border-radius: 15%;
}

.loader__block:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #938584;
  border-radius: 15%;
  box-shadow: 0px 0px 10px 0px rgba(147, 133, 132, 0.4);
}

.loader__block:nth-child(1) {
  animation: slide 1.5s ease-in-out infinite alternate;
}

.loader__block:nth-child(1):after {
  animation: color-change 1.5s ease-in-out infinite alternate;
}

.loader__block:nth-child(2) {
  animation: flip-1 1.5s ease-in-out infinite alternate;
}

.loader__block:nth-child(2):after {
  animation: squidge-1 1.5s ease-in-out infinite alternate;
}

.loader__block:nth-child(3) {
  animation: flip-2 1.5s ease-in-out infinite alternate;
}

.loader__block:nth-child(3):after {
  animation: squidge-2 1.5s ease-in-out infinite alternate;
}

.loader__block:nth-child(4) {
  animation: flip-3 1.5s ease-in-out infinite alternate;
}

.loader__block:nth-child(4):after {
  animation: squidge-3 1.5s ease-in-out infinite alternate;
}

.loader__block:nth-child(5) {
  animation: flip-4 1.5s ease-in-out infinite alternate;
}

.loader__block:nth-child(5):after {
  animation: squidge-4 1.5s ease-in-out infinite alternate;
}

.loader__block:nth-child(2):after {
  background-color: #938584;
}

.loader__block:nth-child(3):after {
  background-color: #938584;
}

.loader__block:nth-child(4):after {
  background-color: #938584;
}

.loader__block:nth-child(5):after {
  background-color: #938584;
}

@keyframes slide {
  0% {
    background-color: #938584;
    transform: translatex(0vw);
  }
  100% {
    background-color: #938584;
    transform: translatex(calc(250px - (33px * 1.25)));
  }
}

@keyframes color-change {
  0% {
    background-color: #938584;
  }
  100% {
    background-color: #938584;
  }
}

@keyframes flip-1 {
  0%,
  15% {
    transform: rotate(0);
  }
  35%,
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-1 {
  5% {
    transform-origin: center bottom;
    transform: scalex(1) scaley(1);
  }
  15% {
    transform-origin: center bottom;
    transform: scalex(1.3) scaley(0.7);
  }
  25%,
  20% {
    transform-origin: center bottom;
    transform: scalex(0.8) scaley(1.4);
  }
  55%,
  100% {
    transform-origin: center top;
    transform: scalex(1) scaley(1);
  }
  40% {
    transform-origin: center top;
    transform: scalex(1.3) scaley(0.7);
  }
}

@keyframes flip-2 {
  0%,
  30% {
    transform: rotate(0);
  }
  50%,
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-2 {
  20% {
    transform-origin: center bottom;
    transform: scalex(1) scaley(1);
  }
  30% {
    transform-origin: center bottom;
    transform: scalex(1.3) scaley(0.7);
  }
  40%,
  35% {
    transform-origin: center bottom;
    transform: scalex(0.8) scaley(1.4);
  }
  70%,
  100% {
    transform-origin: center top;
    transform: scalex(1) scaley(1);
  }
  55% {
    transform-origin: center top;
    transform: scalex(1.3) scaley(0.7);
  }
}

@keyframes flip-3 {
  0%,
  45% {
    transform: rotate(0);
  }
  65%,
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-3 {
  35% {
    transform-origin: center bottom;
    transform: scalex(1) scaley(1);
  }
  45% {
    transform-origin: center bottom;
    transform: scalex(1.3) scaley(0.7);
  }
  55%,
  50% {
    transform-origin: center bottom;
    transform: scalex(0.8) scaley(1.4);
  }
  85%,
  100% {
    transform-origin: center top;
    transform: scalex(1) scaley(1);
  }
  70% {
    transform-origin: center top;
    transform: scalex(1.3) scaley(0.7);
  }
}

@keyframes flip-4 {
  0%,
  60% {
    transform: rotate(0);
  }
  80%,
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-4 {
  50% {
    transform-origin: center bottom;
    transform: scalex(1) scaley(1);
  }
  60% {
    transform-origin: center bottom;
    transform: scalex(1.3) scaley(0.7);
  }
  70%,
  65% {
    transform-origin: center bottom;
    transform: scalex(0.8) scaley(1.4);
  }
  100%,
  100% {
    transform-origin: center top;
    transform: scalex(1) scaley(1);
  }
  85% {
    transform-origin: center top;
    transform: scalex(1.3) scaley(0.7);
  }
}

* {
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: 'Open Sans Regular', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans Bold', sans-serif;
}

.section__title {
  margin-bottom: 100px;
}

.button-o {
  border: 2px solid #938584;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Open Sans Bold', sans-serif;
}

.button-o:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button {
  border: none;
  text-transform: uppercase;
  padding: 25px 45px;
  background-color: #938584;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Open Sans Bold', sans-serif;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-fitting {
  background-color: #ffffff;
  color: #938584;
}

.button-add {
  background-color: #aba09f;
}

.button-like {
  background-color: #938584;
  height: 30px;
}

.bg-second {
  background: #f1f1f1;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label:before {
  background-color: #938584;
}

.select {
  height: 80px;
  width: 100%;
  border: 1px solid #dddddd;
  position: relative;
  border-radius: 10px;
}

.select:after {
  content: '';
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/down-arrow.png") no-repeat center;
  color: #0f0f0f;
  background-size: 100%;
}

.select:hover {
  cursor: pointer;
}

.select_checked {
  line-height: 80px;
  padding-left: 30px;
}

.select__dropdown {
  position: absolute;
  top: 80px;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  margin: 0;
  list-style: none;
  padding: 0;
  display: none;
}

.select__dropdown__open {
  display: block;
}

.select__option {
  padding: 20px;
}

.select__option:hover {
  background-color: #f1f1f1;
}

.checkbox {
  display: none;
}

.checkbox:checked + label:before {
  background-color: #938584;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.checkbox-label:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
}

.checkbox-label:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  -o {
    font-size: 10px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 24px;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
}

.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.navbar-wrap__mobile, .navbar-wrap__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
  text-decoration: none;
  color: #000000;
}

.navbar__small-text {
  display: block;
  font-size: 14px;
  color: #333333;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #938584;
  color: #ffffff;
  transition: 0.2s;
  transform: translateY(-200%);
  opacity: 0;
}

.menu_active {
  transform: translateY(0);
  opacity: 1;
}

.menu__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(147, 133, 132, 0.1);
  border-left: 1px solid rgba(147, 133, 132, 0.1);
  height: 80px;
  width: 70px3;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.menu-button-line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #938584;
  margin: 2px 0;
}

.logo__text {
  display: block;
  font-style: 5px;
  text-transform: uppercase;
  font-family: 'Open Sans Regular', sans-serif;
}

.logo__description {
  display: block;
  font-style: 14px;
  color: #333333;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    opacity: 0;
    margin-bottom: 20px;
  }
  .menu__nav {
    flex-direction: column;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}

.hero {
  background: #f1f1f1 url("../img/hero/hero-bgr.jpg") no-repeat;
  background-position: top right;
  background-size: 900px auto;
  padding-top: 120px;
  padding-bottom: 170px;
  margin-top: 80px;
}

.hero__title {
  font-size: 30px;
  margin-bottom: 40px;
}

.hero__subtitle {
  display: block;
  font-size: 30px;
  margin-bottom: 15px;
}

@media (max-width: 1170px) {
  .hero {
    background-size: 70% auto;
    background-position: top right;
  }
}

@media (max-width: 991px) {
  .hero {
    background-size: 100% auto;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 450px;
  }
}

@media (max-width: 768px) {
  .hero {
    background-size: 100% auto;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 350px;
  }
}

@media (max-width: 576px) {
  .hero {
    background-size: 100% auto;
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 130px;
    flex-wrap: wrap;
  }
  .hero__title {
    margin-bottom: 20px;
  }
}

.offer-block {
  background: #ffffff url("../img/bgr-offer.png") no-repeat bottom right;
  background-size: 50% 50%;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  padding: 80px;
  margin-top: -70px;
}

.offer-block_calc-bg {
  background: #ffffff url("../img/bgr-offer.png") no-repeat bottom right;
}

.offer-block_price-bg {
  background: #ffffff url("../img/bgr-price.jpg") no-repeat bottom right;
  background-size: 35% 35%;
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: 'Open Sans Bold', sans-serif;
}

.offer__subtitle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
  max-width: 820px;
}

.form__row {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form__group {
  flex-basis: 33.33%;
}

.form__input {
  width: 100%;
  border-right-width: 0px;
}

.form__input:last-child {
  border-right-width: 1px;
}

.form__button {
  height: 80px;
  width: 100%;
}

.form__policy {
  display: inline-block;
  margin-left: 45px;
  font-size: 14px;
}

select {
  width: 100%;
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .offer-block {
    background: none;
  }
}

@media (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px;
  }
  .offer__title {
    font-size: 18px;
  }
  .offer__title__subtitle {
    font-size: 16px;
  }
  .form__row {
    flex-direction: column;
  }
  .form__row-checkbox {
    flex-direction: row;
  }
  .form__group {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 15px;
  }
  .form__input {
    width: 100%;
    border-right-width: 1px;
  }
  .form__policy {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .form__row-checkbox {
    flex-direction: column;
    align-items: flex-start;
  }
  .form__checkbox {
    margin-bottom: 10px;
  }
}

.features-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-block__item {
  flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}

.features-block__image {
  width: 100px;
  height: 100px;
}

@media (max-width: 991px) {
  .features-block__item {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .features-block__item {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .features-block__image {
    width: 50px;
    height: 50px;
  }
}

.catalog-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__card {
  margin-bottom: 30px;
}

.catalog-card {
  max-width: 570px;
  position: relative;
  box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}

.catalog-card:hover .catalog-card__buttons {
  transform: translateY(0);
  opacity: 1;
}

.catalog-card__buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(100%);
}

.catalog-card__button {
  font-size: 11px;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  height: 30px;
}

.catalog-card__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(147, 133, 132, 0.6);
}

.catalog-card__image {
  display: block;
}

.catalog__link {
  text-align: center;
  margin-top: 60px;
}

.catalog__link-more {
  display: inline-block;
  margin-bottom: 24px;
}

.catalog__disription {
  display: block;
}

@media (max-width: 1199px) {
  .catalog-block {
    justify-content: center;
  }
  .catalog__card {
    width: 470px;
    overflow: hidden;
  }
}

.blog__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.blog__title {
  font-size: 24px;
  font-family: 'Open Sans Bold', sans-serif;
}

.blog__link-more {
  color: #938584;
  font-size: 16px;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.blog-list__image {
  height: 200px;
  overflow: hidden;
}

.blog-list__text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  font-size: 18px;
}

.blog-list__card {
  margin-bottom: 40px;
}

.blog-card {
  box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1199px) {
  .blog-list {
    justify-content: space-around;
    flex-basis: 50%;
  }
  .blog-list-card {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.price-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-block__card {
  margin-bottom: 10px;
}

.price-card {
  background: #ffffff;
  position: relative;
}

.price-card__text {
  padding: 20px;
  font-size: 15px;
}

.price-card__title {
  margin: 0;
}

.price-card__cost {
  font-family: 'Open Sans Bold', sans-serif;
}

.price-card__pricetag {
  display: flex;
  justify-content: space-between;
}

.price-card__button {
  text-align: center;
  position: absolute;
  z-index: -1;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 100px;
  padding: 20px;
}

.price-card:hover .price-card__button {
  z-index: 99;
  bottom: -100px;
}

@media (max-width: 1199px) {
  .price-block {
    justify-content: center;
  }
  .price-block__card {
    margin: 20px;
  }
}

@media (max-width: 400px) {
  .price-block__card {
    margin: 10px;
  }
}

.step {
  text-align: center;
  margin: 20px;
  position: relative;
}

.steps {
  background-color: #f1f1f1;
}

.step:last-child:before {
  display: none;
}

.step:before {
  content: '';
  width: 60%;
  height: 2px;
  background-color: rgba(126, 123, 120, 0.8);
  display: block;
  position: absolute;
  top: 30%;
  right: -45%;
}

.step:before:last-child {
  display: none;
}

.step__title {
  font-size: 18px;
}

.step__image {
  height: 80px;
  width: 80px;
}

.step__text {
  min-width: 150px;
}

.step-block {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1199px) {
  .step {
    width: 33%;
  }
  .step:before {
    display: none;
  }
  .step-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .step {
    width: 100%;
  }
}

.reviews {
  background-color: #f1f1f1;
}

.reviews-slider__dots {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.reviews-slider__dots li {
  width: 25px;
  height: 25px;
  background-color: #d1d1d1;
  border-radius: 50%;
  margin: 15px;
}

.reviews-slider__dots li:hover {
  cursor: pointer;
}

.reviews-slider__dots li.slick-active {
  background-color: #938584;
}

.reviews-slider__dots button {
  display: none;
}

.reviews-slider__item {
  text-align: center;
}

.reviews-slider__image {
  display: block;
  width: 70px;
  height: 70px;
  border: 2px solid #938584;
  border-radius: 50%;
  margin: 20px auto;
}

.reviews-slider__text {
  margin: auto;
  font-size: 15px;
  font-style: italic;
  max-width: 570px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
}

.slick-arrow {
  position: absolute;
  top: 20%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
  background-color: transparent;
  border: none;
}

.slick-arrow:hover {
  cursor: pointer;
}

.factory-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.factory-block__image {
  margin: 20px 0;
}

.factory-block__text {
  flex-basis: 50%;
  margin-left: 70px;
  font-size: 20px;
  text-indent: 1.5em;
}

@media (max-width: 768px) {
  .factory-block__text {
    min-width: 90%;
    margin: auto;
    font-size: 16px;
    text-indent: 1.5em;
  }
}

.contacts-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.contacts-block__item {
  text-align: center;
}

.contacts__image {
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
}

.contacts__text {
  font-style: 16px;
}

.contacts__link {
  text-decoration: none;
  color: #333333;
}

.contacts__adress {
  font-style: normal;
}

@media (max-width: 768px) {
  .contacts-block__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .contacts__adress {
    max-width: 200px;
    margin: auto;
  }
}

.questions__title {
  font-size: 30px;
  font-family: 'Open Sans Bold', sans-serif;
}

.questions__link {
  font-size: 24px;
  color: #938584;
}

.questions-block {
  max-width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  padding: 40px 0;
  background-color: #262626;
  color: #ffffff;
}

.footer-block {
  display: flex;
  justify-content: space-between;
}

.footer a {
  color: #ffffff;
}

.footer__title {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: 'Open Sans Bold', sans-serif;
}

.footer__subtitle {
  display: block;
  margin-bottom: 48px;
}

.footer__copy {
  color: #767676;
}

.footer__pay-info {
  display: inline;
}

.footer__pay-logo {
  margin: 15px;
  max-width: 35px;
  max-height: 35px;
}

.footer__contacts {
  text-align: right;
}

.footer__phone {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Open Sans Bold', sans-serif;
}

.footer__mail {
  display: block;
  margin-bottom: 20px;
}

.footer-social__link {
  margin-left: 10px;
  text-decoration: none;
}

.footer-social__image {
  max-width: 35px;
  max-height: 35px;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .footer-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__contacts {
    text-align: center;
    margin-top: 30px;
  }
}

/* Стрелка */
.before-slider-wrap {
  max-width: 640px;
  margin: auto;
  position: relative;
}

.before-slider__dots {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.before-slider__dots li {
  width: 25px;
  height: 25px;
  background-color: #d1d1d1;
  border-radius: 50%;
  margin: 15px;
}

.before-slider__dots li:hover {
  cursor: pointer;
}

.before-slider__dots li.slick-active {
  background-color: #938584;
}

.before-slider__dots button {
  display: none;
}

.slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
  background-color: transparent;
  border: none;
}

.slick-arrow.slick-prev {
  left: -50px;
  background: url("../img/arrow-left.svg") 0 0/100% no-repeat;
}

.slick-arrow.slick-next {
  right: -50px;
  background: url("../img/right-arrow.svg") 0 0/100% no-repeat;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
