.hero
  background: $bg-second url('../img/hero/hero-bgr.jpg') no-repeat
  background-position: top right
  background-size: 900px auto
  padding-top: 120px
  padding-bottom: 170px
  margin-top: 80px

  &__title

    font-size: 30px
    margin-bottom: 40px
  &__subtitle
    display: block
    font-size: 30px
    margin-bottom: 15px
@media (max-width: 1170px)
  .hero

    background-size: 70% auto
    background-position: top right

@media (max-width: 991px)
  .hero

    background-size: 100% auto
    background-position: top
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 450px
@media (max-width: 768px)
  .hero

    background-size: 100% auto
    background-position: top
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 350px
@media (max-width: 576px)
  .hero
    background-size: 100% auto
    background-position: top
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 130px
    flex-wrap: wrap
    &__title
      margin-bottom: 20px
