.hero
  background: #dcb59b url('../img/hero/hero-bgr.jpg') no-repeat
  background-position: top right
  background-size: 900px auto
  padding-top: 120px
  padding-bottom: 70px
  margin-top: 80px
  &__title
    font-size: 30px
    margin-bottom: 40px
  &__subtitle
    display: block
    font-size: 30px
    margin-bottom: 15px
@media (max-width: 1170px)
  .hero

    background: #dcb59b url('../img/hero/hero-bgr.jpg') no-repeat
    background-size: 70% auto
    background-position: top right

@media (max-width: 991px)
  .hero

    background: #dcb59b url('../img/hero/hero-bgr.jpg') no-repeat
    background-size: 50% auto
    background-position: top right
    &__title
      margin-top: -50px
      margin-bottom: 40px
