*
  box-sizing: border-box

body
  color: $text-color
  +OpenReg

.container
  max-width: 1170px
  margin: auto

.button-o
  border: 2px solid $primary
  padding: 17px 22px
  font-size: 12px
  text-transform: uppercase
  +OpenBold

.button
  border: none
  text-transform: uppercase
  padding: 25px 45px
  background-color: $primary
  color: #ffffff
  +OpenBold
