.offer
  &-block
    background: #ffffff
    padding: 80px
  &__title
    font-size: 25px
    text-transform: uppercase
    margin-bottom: 30px
    +OpenBold

  &__subtitle
    display: block
    font-size: 21px
    margin-bottom: 48px
.form
  df
  &__row
    display: flex
    justify-content: space-between
    align-items: center
  &__label
    display: block
    font-size: 17px
